.App {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: url('../../img/johannes-plenio-RwHv7LgeC7s-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

